body {
  background-image: linear-gradient(135deg, rgba(246, 241, 231, 0.92), rgba(253, 247, 234, 0.96));
}

.card {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M0 0h200v200H0z" fill="%23fffaf1"/></svg>');
}

.app-header {
  background-image:
    linear-gradient(120deg, rgba(253, 247, 234, 0.86), rgba(245, 235, 216, 0.86)),
    url('/img/sfondo_header.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-nav {
  background-image:
    linear-gradient(120deg, rgba(253, 247, 234, 0.9), rgba(245, 235, 216, 0.9)),
    url('/img/sfondo_header.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
