body {
  background-image: linear-gradient(135deg, rgba(246, 241, 231, 0.92), rgba(253, 247, 234, 0.96));
}

.card {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M0 0h200v200H0z" fill="%23fffaf1"/></svg>');
}

.app-header {
  background-image:
    url('/img/sfondo_header_1.webp');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.bottom-nav {
  border-top: 1px solid #4f432c;
  background-image: 
    url('/img/sfondo_header_1.webp');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
